<html>

  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/log-in">Log In</a>
    <a href="/sign-up">Sign-up</a>

    {{{body}}}
  </body>

</html>