<form method="POST">
  <label for="input-username">Username</label>
  <input
    id="input-username"
    type="text"
    placeholder="Username"
    name="username"
    required
  />

  <label for="input-password">Password</label>
  <input
    id="input-password"
    type="password"
    placeholder="Password"
    name="password"
    required
  />

  <button>Log In</button>
</form>